.shop-preview {
  /* display: flex; */
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}
.shop-preview .title {
  font-size: 28px;
  margin-bottom: 25px;
  color: black;
}
.shop-preview .preview {
  /* width: 100%; */
  display: flex;
  justify-content: start;
  grid-gap: 10px;
}

.shop-preview h1 {
  display: inline;
}

.shop-preview .category-items-link {
  color: gray;
  margin-left: 10px;
  cursor: pointer;
}
