.shop-preview {
  /* display: flex; */
  flex-direction: column;
  margin-bottom: 30px;
  /* width: 100%; */
  /* border: 1px solid orange; */
}
.shop-preview .title {
  /* border: 1px solid brown; */
  font-size: 28px;
  margin-bottom: 25px;
  color: green;
}
.shop-preview .preview {
  width: 100%;
  display: flex;
  justify-content: start;
  grid-gap: 5px;
  padding-top: 15px;
  /* background-color: lightblue; */
}

.shop-preview h1 {
  display: inline;
  /* color: red; */
}

.shop-preview .category-items-link {
  color: black;
  margin-left: 10px;
  cursor: pointer;
}

.shop-preview .category-items-link:hover {
  color: grey;
}
