.cart-dropdown {
  /* background-color: white;
  color: green;
  height: 400px;
  width: 250px;
  overflow: scroll;
  z-index: 1090;
  border: 1px black solid; */

  position: relative;
  /* position: absolute; */
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  border: 1px solid black;
  background-color: white;
  z-index: 1090;
}

.empty-message {
  font-size: 18px;
  margin: 50px auto;
}

.cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.cart-button-area {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
