.xxx-button {
  color: green;
}

.yyy {
  color: orange;
}

.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
  /* background-color: orange; */
}

.collection-item:hover .actionbutton {
  opacity: 0.85;
  display: flex;
  background-color: purple;
  color: white;
  border: 1px solid black;
  display: none;
}

.collection-item:hover .actionbutton:hover {
  opacity: 0.85;
  display: flex;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.addtocartbutton {
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 12px;
  background-color: pink;
  color: white;
  text-transform: uppercase;
  font-family: 'Arial';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 80%;
  opacity: 70%;
  position: absolute;
  top: 255px;
  /* display: none; */
}

.addtocartbutton:hover {
  background-color: green;
  color: black;
  border: 1px solid black;
  opacity: 0.85;
  display: flex;
}
