.cart-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
}

.shopping-icon {
  width: 28px;
  height: 28px;
}

.item-count {
  /* background-color: purple; */
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  bottom: 14px;
  left: 10px;
}
